#clients_words {
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    width: auto;
  }

  .clients_words-pagination {
    display: grid;
    grid-template-columns: 2;
    align-items: start;
  }

  .current {
    grid-column-start: 1;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    width: 14px;

    &::after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 0;
      display: block;
      height: 1px;
      width: 100%;
      background: #fff;
    }

    @media (min-width: 768px) {
      font-size: 52.055px;
      width: 28px;

      &::after {
        bottom: 15px;
      }
    }
  }

  .total {
    grid-column-start: 2;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.5;
    position: relative;
    top: 20px;

    @media (min-width: 768px) {
      font-size: 97.603px;
      top: 30px;
    }
  }

  .clients_words-next svg,
  .clients_words-prev svg {
    fill: white;
  }

  .swiper-button-disabled.clients_words-next svg,
  .swiper-button-disabled.clients_words-prev svg {
    fill: #858585;
  }
  .swiper-button-disabled.clients_words-next,
  .swiper-button-disabled.clients_words-prev {
    border-color: #858585;
  }
}
