<section class="md:pt-[104px] md:pb-[71px] pt-[57px] pb-[60px] relative">
    <picture>
        <source srcset="./img/main-page/dedicated-bg.jpg" media="(min-width: 768px)"">
        <source srcset="./img/main-page/dedicated-bg-mob.jpg" media="(max-width: 767px)">
        <img loading="lazy" src="./img/main-page/dedicated-bg.jpg" class="absolute inset-0 -z-10 object-cover h-full w-full" alt="dedicated-bg">
    </picture>
    <div class="container">
        <div class="max-w-[953px] mx-auto">
            <h2 class="lg:text-3xl font-medium uppercase text-xl">
                DEDICATED TO YOUR SUCCESS
            </h2>
            <p class="font-light lg:text-lg !leading-[160%] text-sm mt-3.75 md:mt-7.5">
                “Absolute commitment to your work involves a steadfast dedication to
                understanding and achieving goals, providing consistent support, and
                ensuring that efforts lead to positive results and accomplishments.”
            </p>

            <div class="flex md:justify-end mt-6 md:mt-11 md:mr-10">
                <span class="text-sm font-medium">(Sean J. CEO)</span>
            </div>
        </div>

        <ul class="grid md:grid-cols-3 md:gap-8.5 gap-6.5 md:mt-[101px] mt-[52px]">
            <li class="border-black border-[1px] px-7.5 py-7.5 md:px-3.75 pb-2.5 pt-5 text-center">
                <div class="flex justify-center">
                    <img src="./img/svg/quality.svg" alt="quality">
                </div>
                <h3 class="md:mt-3 mt-2 lg:text-3xl font-medium uppercase text-xl">
                    QUALITY
                </h3>
                <p class="md:mt-2.5 mt-1.5 font-light lg:text-base !leading-[160%] text-xs">
                    Indicates standards for the quality of services or processes that emphasize accuracy, reliability, and meeting their expectations
                </p>
            </li>

            <li class="border-black border-[1px] px-7.5 py-7.5 md:px-3.75 pb-2.5 pt-5 text-center">
                <div class="flex justify-center">
                    <img src="./img/svg/rocket.svg" alt="rocket">
                </div>
                <h3 class="md:mt-3 mt-2 lg:text-3xl font-medium uppercase text-xl">
                    INNOVATION
                </h3>
                <p class="md:mt-2.5 mt-1.5 font-light lg:text-base !leading-[160%] text-xs">
                    Involves the creation or adoption of new ideas, methods, or products that bring about positive change, foster growth, and enhance efficiency or effectiveness
                </p>
            </li>

            <li class="border-black border-[1px] px-7.5 py-7.5 md:px-3.75 pb-2.5 pt-5 text-center">
                <div class="flex justify-center">
                    <img src="./img/svg/headphones.svg" alt="headphones">
                </div>
                <h3 class="md:mt-3 mt-2 lg:text-3xl font-medium uppercase text-xl">
                    Support
                </h3>
                <p class="md:mt-2.5 mt-1.5 font-light lg:text-base !leading-[160%] text-xs">
                    Involves providing assistance, guidance, or resources to help individuals or entities overcome challenges, achieve goals, or navigate various situations
                </p>
            </li>
        </ul>
    </div>
</section>
