<!-- EXECUTIVE SERVICES START -->
<section id="about" class="bg-lightGrey lg:pt-[204px] lg:pb-[155px] pt-[54px] pb-[54px]">
    <div class="container text-center">
        <span class="text-black md:text-lg text-sm font-light">
            FOCUSED ON YOUR SUCCESS & protection
        </span>

        <h2 class="md:mt-3.75 mt-3 text-black lg:text-[55px] text-[25px] leading-[115%] font-semibold">
            COLORADO EXECUTIVE PROTECTION SERVICES
        </h2>

        <div class="max-w-[837px] mx-auto">
            <p class="text-black lg:text-[25px] !leading-[160%] text-base font-medium md:mt-11 mt-7.5">
                We are committed to providing the best protection
                services while also focusing on
                customer service to ensure our
                clients achieve maximum success.
            </p>
        </div>
    </div>
</section>
<!-- EXECUTIVE SERVICES END -->
