<footer
  class="footer overflow-hidden bg-black pb-5 pt-[45px] lg:pb-10 lg:pt-[95px]"
>
  <div class="container px-16 max-us:px-5 md:px-15 xl:px-25">
    <div
      class="md:grid-row-[auto,_auto] mb-12 grid uppercase text-white md:mb-[84px] md:grid-cols-[minmax(80px,_1fr),_3fr,_3fr,_minmax(150px,_1fr)] lg:grid-cols-[170px,_1fr,_1fr,_170px]"
    >
      <h3 class="text-xl font-light md:flex md:justify-end md:text-3xl lg-2:text-[40px]"
      >
        LET'S
      </h3>
      <h2
        class="max-w-min text-[35px] font-extrabold leading-[105%] md:col-span-2 md:col-start-2 md:row-start-2 md:max-w-none md:text-5xl md:leading-normal lg:text-6xl lg-2:text-[75px]"
      >
        WORK TOGETHER
      </h2>
      <div
        class="hidden md:col-start-4 md:row-start-2 md:flex md:w-full md:items-center"
      >
        <img
          class="h-full max-h-[70px] w-full max-w-[170px]"
          src="./img/svg/logo.svg"
          alt="logo"
        />
      </div>
    </div>
    <div
      class="grid w-full grid-cols-2 grid-rows-2 gap-x-2 gap-y-[69px] text-white max-us:grid-cols-[40%,_1fr] md:grid-cols-[minmax(80px,_1fr),_3fr,_3fr,_minmax(150px,_1fr)] md:grid-rows-[auto,_auto] md:gap-y-0 lg:grid-cols-[170px,_1fr,_1fr,_170px]"
    >
      <!-- menu -->
      <nav class="flex flex-col gap-3.75 md:col-start-2 md:row-span-2 md:gap-5">
        <a
          class="text-sm font-bold uppercase leading-normal text-white lg:text-xl"
          href="/"
        >
          Home
        </a>
        <a
          class="text-sm uppercase leading-normal text-white lg:text-xl"
          href="#about_us"
        >
          About us
        </a>
        <a
          class="text-sm uppercase leading-normal text-white lg:text-xl"
          href="#services"
        >
          Services
        </a>
        <a
          class="text-sm uppercase leading-normal text-white lg:text-xl"
          href="#contacts"
        >
          Contacts
        </a>
      </nav>
      <!-- Contacts -->
      <div class="md:col-start-3">
        <h6
          class="mb-[15px] text-sm font-bold uppercase leading-normal text-white lg:mb-6 lg:text-xl"
        >
          Contacts
        </h6>
        <ul class="flex flex-col gap-1 lg:gap-[7px]">
          <li class="flex flex-col lg:flex-row lg:items-center gap-1">
            <span class="text-xs font-medium leading-[160%] lg:text-lg"
              >Phone:
            </span>
            <a
              class="text-xs font-light leading-[160%] lg:text-lg"
              href="tel:+0 000 000 000"
              >+0 000 000 000</a
            >
          </li>
          <li class="flex flex-col lg:flex-row lg:flex-wrap lg:items-center gap-1">
            <span class="text-xs font-medium leading-[160%] lg:text-lg">
              Email:
            </span>
            <a
              class="text-[9px] font-light leading-[160%] md:text-xs lg:text-lg"
              href="mailto:sean@grayshadowsprotection.com"
            >
              sean@grayshadowsprotection.com
            </a>
          </li>
        </ul>
      </div>
      <!-- LICENSE -->
      <div class="md:col-start-4 md:row-span-2">
        <h6
          class="mb-[15px] text-sm font-bold uppercase leading-normal text-white lg:mb-6 lg:text-xl"
        >
          LICENSE
        </h6>
        <ul class="flex flex-col gap-2.5 lg:gap-[7px]">
          <li
            class="text-xs font-light leading-[160%] text-white lg:min-w-max lg:text-lg"
          >
            <a href="#">Terms & Conditions</a>
          </li>
          <li
            class="text-xs font-light leading-[160%] text-white lg:min-w-max lg:text-lg"
          >
            <a href="#">Privacy Policy</a>
          </li>
          <li
            class="text-xs font-light leading-[160%] text-white lg:min-w-max lg:text-lg"
          >
            <a href="#">Cookies Polic</a>
          </li>
          <li
            class="text-xs font-light leading-[160%] text-white lg:min-w-max lg:text-lg"
          >
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </div>
      <!-- social -->
      <div
        class="flex items-start justify-center md:col-start-3 md:mt-3 md:justify-start xl-1:mt-11"
      >
        <a href="https://www.linkedin.com/" target="_blank">
          <img
            class="h-[21px] w-5 lg:h-[35px] lg:w-[35px]"
            src="./img/svg/in.svg"
            alt="in"
          />
        </a>
      </div>
    </div>
    <div
      class="mt-[46px] grid grid-cols-2 md:grid-cols-[minmax(80px,_1fr),_3fr,_3fr,_minmax(150px,_1fr)] lg:mt-25 lg:grid-cols-[170px,_1fr,_1fr,_170px]"
    >
      <div
        class="col-start-2 text-xs font-light leading-[160%] text-white lg:text-lg"
      >
        ©GSP, LLC. 2023
      </div>
    </div>
  </div>
</footer>
