<section class="h-screen relative">
    <picture>
        <source srcset="./img/main-page/car-bg-desktop.jpg" media="(min-width: 768px)"">
        <source srcset="./img/main-page/car-bg-mob.jpg" media="(max-width: 767px)">
        <img loading="lazy" src="./img/main-page/car-bg-desktop.jpg" class="absolute inset-0 -z-10 object-cover h-full w-full" alt="car-bg">
    </picture>
    <div class="container h-full">
        <div class="flex flex-col md:items-center md:justify-center justify-between h-full px-10 md:px-0">
            <div></div>
            <div class="uppercase text-white md:flex md:justify-between">
                <div class="font-light xl-1:text-6xl lg:text-[45px] md:text-[40px] text-xl">
                    Your
                </div>
                <div class="font-extrabold xl-1:text-[70px] lg:text-[55px] md:text-[40px] text-[35px] md:mt-10 md:-ml-8 -mt-2">
                    Protection
                </div>

                <div class="font-light xl-1:text-6xl lg:text-[45px] md:text-[40px] text-xl md:mt-[120px] md:-ml-8 mt-5">
                    Is our
                </div>
                <div class="font-extrabold xl-1:text-[70px] lg:text-[55px] md:text-[40px] text-[35px] md:mt-[160px] md:-ml-8 -mt-2">
                    Responsibility
                </div>
            </div>
            <div class="w-full pb-[53px] md:pb-0">
                <a class="btn-primary w-full flex justify-center items-center" href="#services">
                    Our Services
                </a>
            </div>
        </div>
</section>
    </div>
