<!-- OUR STATISTICS START -->
<section class="md:py-[95px] py-[56px]">
    <div class="container">
        <ul class="md:flex justify-between px-10 md:px-0 max-w-[340px] mx-auto md:max-w-full">
            <li class="">
                <p class="font-bold uppercase text-[25px] lg:text-[45px] md:text-3xl md:leading-none">
                    20+
                </p>
                <p class="lg:ml-20 md:ml-14 uppercase text-xs lg:text-[22px] md:text-base font-light md:leading-none !leading-[160%]">
                    YEARS OF EXPERIENCE
                </p>
            </li>

            <li class="flex flex-col items-end">
                <div>
                    <p class="font-bold uppercase text-[25px] lg:text-[45px] md:text-3xl md:leading-none">
                        125+
                    </p>
                    <p class="lg:ml-24 md:ml-16 uppercase text-xs lg:text-[22px] md:text-base font-light !leading-[160%] md:leading-none">
                        CLIENTS PROTECTED
                    </p>
                </div>
            </li>

            <li class="">
                <p class="font-bold uppercase text-[25px] lg:text-[45px] md:text-3xl md:leading-none">
                    25+
                </p>
                <p class="lg:ml-20 md:ml-14 uppercase text-xs lg:text-[22px] md:text-base font-light !leading-[160%] md:leading-none">
                    Employees
                </p>
            </li>
        </ul>
    </div>
</section>
<!-- OUR STATISTICS END -->
