<section id="partners" class="pb-[67px] pt-20 md:pb-32 md:pt-[94px]">
  <div class="container">
    <div
      class="mb-6 px-11 sm:grid sm:grid-cols-[80px,_1fr] sm:grid-rows-[auto,_auto] sm:px-0 md:mb-12.5 lg:grid-cols-[170px,_1fr]"
    >
      <h3 class="h3 sm:flex sm:justify-end">our</h3>
      <h2 class="h2 sm:col-start-2 sm:row-start-2">partners</h2>
    </div>
    <div
      class="flex flex-col items-center sm:flex-row sm:flex-wrap sm:justify-center sm:gap-16"
    >
      <img
        class="mb-4 w-full max-w-[248px] sm:mb-0 sm:max-w-[283px]"
        src="./img/partners/armored.png"
        alt="armored"
      />
      <img
        class="mb-[25px] w-full max-w-[117px] sm:mb-0"
        src="./img/partners/colorado.png"
        alt="colorado"
      />
      <img
        class="mb-11 w-full max-w-[248px] sm:mb-0 sm:max-w-[277px]"
        src="./img/partners/ops_tructure.png"
        alt="ops_tructure"
      />
      <img
        class="w-full max-w-[156px] sm:max-w-[156px]"
        src="./img/partners/gaia.png"
        alt="gaia"
      />
    </div>
  </div>
</section>
