<section class="md:pt-[81px] pt-[65px]">
    <!-- RELENTLESS CLIENT FOCUS START -->
    <div class="container">
        <ul class="grid md:grid-cols-2 gap-5 md:12.5 max-w-[960px] mx-auto">
            <li class="border-[1px] border-black px-6 md:py-8.5 py-3">
                <h3 class="lg:text-3xl text-xl uppercase font-medium">
                    RELENTLESS CLIENT FOCUS
                </h3>
                <p class="font-light lg:text-lg !leading-[160%] text-sm md:mt-5 mt-3.75">
                    Emphasizes consistently prioritizing and meeting
                    the needs of clients with unwavering dedication. It involves understanding
                    their goals and delivering exceptional service to build lasting relationships.
                </p>
            </li>

            <li class="border-[1px] border-black px-6 md:py-8.5 py-3">
                <h3 class="lg:text-3xl text-xl uppercase font-medium">
                    THE BEST TALENT AVAILABLE
                </h3>
                <p class="font-light lg:text-lg !leading-[160%] text-sm md:mt-5 mt-3.75">
                    Emphasizes consistently prioritizing and meeting
                    the needs of clients with unwavering dedication. It involves understanding
                    their goals and delivering exceptional service to build lasting relationships.
                </p>
            </li>

            <li class="border-[1px] border-black px-6 md:py-8.5 py-3">
                <h3 class="lg:text-3xl text-xl uppercase font-medium">
                    CONTINUAL OPERATIONAL READINESS
                </h3>
                <p class="font-light lg:text-lg !leading-[160%] text-sm md:mt-5 mt-3.75">
                    Involves maintaining a state of preparedness and efficiency in ongoing processes, anticipating
                    challenges, and implementing proactive measures to ensure smooth
                    operations even in dynamic environments.
                </p>
            </li>

            <li class="border-[1px] border-black px-6 md:py-8.5 py-3">
                <h3 class="lg:text-3xl text-xl uppercase font-medium">
                    INNOVATIVE METHODS AND PROGRAMS
                </h3>
                <p class="font-light lg:text-lg !leading-[160%] text-sm md:mt-5 mt-3.75">
                    Involves
                    incorporating established strategies while embracing creativity and
                    adaptability. This approach enables sustainable growth and flexibility to
                    meet evolving challenges.
                </p>
            </li>
        </ul>
    </div>
    <!-- RELENTLESS CLIENT FOCUS END -->

    <!-- BG IMaGE HUMAN START -->
    <div class="md:pt-[86px] pt-[65px]">
        <picture>
            <source srcset="./img/main-page/human-desktop.jpg" media="(min-width: 768px)"">
            <source srcset="./img/main-page/human-mob.jpg" media="(max-width: 767px)">
            <img loading="lazy" src="./img/main-page/human-desktop.jpg" class="object-cover w-full" alt="human">
        </picture>
    </div>
    <!-- BG IMaGE HUMAN END -->
</section>
